{
    "height": 30,
    "spacing": 5,
    "margin-top": 5,
    "margin-bottom": 0,
    "margin-left": 5,
    "margin-right": 5,

    // Idea:
    //  L -> arch button, workspaces and window name
    //  C -> media
    //  R -> System info and tray
    "modules-left": [
        "group/utilities",
        "group/workspaces",
        "group/windows"
    ],
    "modules-center": [
        "mpris"
    ],
    "modules-right": [
        "group/cpuram",
        "group/system"
    ],

    // Separators
    "custom/openbracket": {
        "format": "[",
        "tooltip": false
    },
    "custom/closebracket": {
        "format": "]",
        "tooltip": false
    },
    "custom/split": {
        "format": "|",
        "tooltip": false
    },

    // BEGIN LEFT
    // Just the arch button to access a logout menu
    // TODO: perhaps a keybind is enough?
    "group/utilities":{
        "orientation": "horizontal",
        "modules":[
            "custom/openbracket",
            "custom/arch",
            "custom/closebracket"
        ]
    },
    "custom/arch": {
        "format": "󰣇",
        "tooltip": false,
        "on-click": "wlogout &",
        "on-click-right": "wlogout &"
    },

    // All workspaces
    "group/workspaces":{
        "orientation": "horizontal",
        "modules":[
            "custom/openbracket",
            "hyprland/workspaces",
            "custom/closebracket"
        ]
    },
    "hyprland/workspaces": {
        "all-outputs": true,
        "warp-on-scroll": false,
        "enable-bar-scroll": true,
        "disable-scroll-wraparound": true,
        "active-only": false,
        "format": "{icon}",
        "persistent-workspaces": {
             "*": 9,
       },
        // TODO: perhaps some icons?
        "format-icons": {
            "1": "1",
            "2": "2",
            "3": "3",
            "4": "4",
            "5": "5",
            "6": "6",
            "7": "7",
            "8": "8",
            "9": "9",
        }
    },

    "group/windows": {
        "orientation":"horizontal",
        "modules":[
            "custom/openbracket",
            "hyprland/window",
            "custom/closebracket"
        ]
    },
    "hyprland/window": {
        "format": "{title}", 
        "max-length": 30,
        "min-length": 0,
        "all-outputs": true
    },
    // END LEFT

    // BEGIN CENTRE
    "mpris": {
        "format": " [ {status_icon} | {dynamic} ] ",
        "interval": 1,
        "dynamic-len": 40,
        "status-icons": {
            "playing": "▶",
            "paused": "⏸",
            "stopped": ""
        },
        "dynamic-order": ["title", "artist"]
    },
    // END CENTRE

    // BEGIN RIGHT
    "group/cpuram": {
        "orientation": "horizontal",
        "modules": [
            "custom/openbracket",
            "cpu",
            "custom/split",
            "memory",
            "custom/split",
            "network",
            "custom/closebracket"
        ]
    },
    "cpu": {
        "format": "  {usage}%",
        "tooltip": false,
        "interval": 2,
        "on-click": "kitty --class waybar-floating btop",
        "on-click-right": "kitty --class waybar-floating btop"
    },

    "memory":{
        "format": "  {percentage}%",
        "tooltip": false,
        "interval": 2,
        "on-click": "kitty --class waybar-floating btop",
        "on-click-right": "kitty --class waybar-floating btop"
    },
    "network" : {
        "interval": 5,
        "format-wifi": "{icon} {bandwidthDownBits}",
        "format-ethernet": " {bandwidthDownBits}",
        "format-disconnected": "󰤮 ",
        "format-icons": ["󰤟 ", "󰤢 ", "󰤥 ", "󰤨 "],
        "tooltip-format-wifi": "Connected to {essid}",
        "tooltip-format-ethernet": "Connected via {ifname}",
        "tooltip-format-disconnected": "Disconnected",
        "on-click": "kitty --class waybar-floating impala",
        "on-click-right": "kitty --class waybar-floating impala"
    },

    "group/system": {
        "orientation": "horizontal",
        "modules": [
            "custom/openbracket",
            "wireplumber",
            "custom/split",
            "bluetooth",
            "custom/split",
            "backlight",
{{ if eq .chezmoi.hostname "hermes" }}
            "custom/split",
            "power-profiles-daemon",
            "battery",
{{ end }}
            "custom/closebracket",
            "custom/openbracket",
            "tray",
            "clock",
            "custom/split",
            "hyprland/language",
            "custom/closebracket"
        ]
    },
    "wireplumber": {
        "scroll-step": 5,
        "format": "{icon} {volume}%",
        "format-muted": " ",
        "format-icons": {
            "phone": " ",
            "portable": " ",
            "default": ["", " ", " "]
        },
        "on-click": "pgrep pavucontrol >/dev/null 2>&1 && killall pavucontrol || app2unit pavucontrol",
        "on-click-right": "pgrep pavucontrol >/dev/null 2>&1 && killall pavucontrol || app2unit pavucontrol",
        "on-click-middle": "wpctl set-mute @DEFAULT_SINK@ toggle",
    },
    "backlight": {
        "device": "intel_backlight",
        "format": "{icon} {percent}%",
        "format-icons": [" ", " "],
        "tooltip": false
    },
    "power-profiles-daemon": {
        "format": " {icon} ",
        "tooltip-format": "Power profile: {profile}",
        "format-icons": {
            "default": "󰾅",
            "performance": "󰓅",
            "balanced": "󰾅",
            "power-saver": "󰾆"
        }
    },
    "battery": {
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "{icon} {capacity}%",
        "format-full": "{icon} {capacity}%",
        "format-charging": " {capacity}%",
        "format-plugged": " {capacity}%",
        "format-icons": [" ", " ", " ", " ", " "]
    },
    "bluetooth": {
        "format": "󰂯",
        "format-disabled": "󰂲",
        "format-off": "󰂲",
        "format-on": "󰂯",
        "format-connected": "󰂱 ",
        "format-connected-battery": "󰂱 {device_battery_percentage}%",
        "tooltip-format": "{controller_alias}\t{controller_address}",
        "tooltip-format-connected": "{controller_alias}\t{controller_address}\n\n{device_enumerate}",
        "tooltip-format-enumerate-connected": "{device_alias}\t{device_address}",
        "on-click": "kitty --class waybar-floating bluetui",
        "on-click-right": "kitty --class waybar-floating bluetui",
        "on-click-middle": "bluetoothctl show | grep 'Powered: yes' && bluetoothctl power off || bluetoothctl power on"
    },
    "tray": {
        "icon-size": 14,
        "spacing": 10
    },
    "clock": {
        "format": "{:%H:%M}",
        "interval": 1,
        "tooltip-format": "<tt><span color='#ffffff'><b><big>{:%H:%M:%S}</big></b></span></tt>\n{calendar}",
        "calendar": {
            "mode"          : "month",
            "mode-mon-col"  : 3,
            "on-scroll"     : 1,
            "format": {
                "months":     "<span color='#ffffff'><b><u>{}</u></b></span>",
                "days":       "<span color='#ffffff'>{}</span>",
                "weekdays":   "<span color='#ffffff'><b>{}</b></span>",
                "today":      "<span color='#ff6699'><b>{}</b></span>",
            }
        },
        "actions":  {
            "on-click": "mode",
            "on-click-right": "mode",
            "on-scroll-up": "shift_up",
            "on-scroll-down": "shift_down"
        }
    },
    "hyprland/language": {
        "format-en": " en",
        "format-es": " es"
    }
}
