/* font declared */
* {
  font-family: "Maple Mono NF CN";
  font-size: 14px;
  border-radius: 8px;
  padding: 0px;
}

#custom-openbracket,
#custom-closebracket {
  margin: 0 5px;
}

/* general bar */
window#waybar {
  background-color: transparent;
  border-bottom: 0;
  color: #C0CAF5;
  transition: background-color 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: #1A1B26;
}

/* configuring the modules */
.modules-left {
  background-color: #1A1B26;
  border: 1px solid #7AA2F7;
}

/* .modules-center { */
/*   background-color: #1A1B26; */
/*   border: 1px solid #7AA2F7; */
/* } */

.modules-right {
  background-color: #1A1B26;
  border: 1px solid #7AA2F7;
}


/* whats this?? */
button {
  border: none;
}


/* left island */

/* menu pannel */
#custom-arch,
#custom-powerprofile,
#custom-themeswitcher {
  padding-right: 10px;
  padding-left: 5px;
  font-size: 15px;
  border-radius: 8px;
}

/* workspace pannel */
#workspaces button {
  min-width: 0;
  padding: 0 8px 0 8px;
  background-color: transparent;
  color: #C0CAF5;
}

#workspaces button.empty {
  color: #444B6A;
}

#workspaces button.active {
  color: #0DB9D7;
}

#workspaces button.urgent {
  background-color: #F7768E;
}

/* no idea what this does */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

/* media player */
#mpris {
  border: 1px solid #7AA2F7;
  background-color: #1A1B26;
  color: #C0CAF5;
}

#mpris.playing {
  background-color: #0DB9D7;
  color: #1A1B26;
}


/* center module  */
#window {
  padding: 0 5px;
}

/* Right Island */

/* module general styles */
#clock,
#battery,
#cpu,
#memory,
#custom-clipboard,
#custom-bluetooth,
#network {
  padding: 0 10px;
}

#idle_inhibitor {
  padding: 0 10px 0 0;
}

#custom-powerprofile {
  padding: 0 8px 0 4px;
}

/* Remaining Modules */
#backlight,
#wireplumber {
  padding: 0 5px;
}

#battery.critical:not(.charging) {
  background-color: #F7768E;
  color: #C0CAF5;
  animation: blink 0.5s steps(12) infinite alternate;
}
