{{- if ne .chezmoi.hostname "harrow" }}
font=Maple Mono NF CN:size=10
{{- else }}
font=Maple Mono NF CN:size=16
{{- end }}
prompt="Run: "
anchor=top
y-margin=40
width=30
inner-pad=4
terminal=kitty

[colors]
background=1A1B26FF
border=0DB9D7FF
counter=F7768EFF
match=F7768EFF
selection=F7768EFF
selection-match=DB9D7FF
selection-text=C0CAF5FF
text=C0CAF5FF

[border]
width=2
radius=8
