#                                    !!MONITORS!!                                   #
# --------------------------------------------------------------------------------- #
#                                    !!MONITORS!!                                   #

# run `hyprctl monitors all` to see all your monitors!!!
{{- if eq .chezmoi.hostname "harrow" }}
# $plug1 = DP-1
# $plug2 = DP-2
$plug1 = DP-3
$plug2 = HDMI-A-1
# monitor = $plug1, 1920x1080@175.00000, 0x0, 1
# monitor = $plug2, 1920x1080@60.00000, -1920x0, 1
monitor = $plug1, 1920x1080@60.00000, 0x0, 1
monitor = $plug2, 1920x1080@60.00000, 1920x0, 1
workspace = 1, monitor:$plug1
workspace = 2, monitor:$plug1
workspace = 3, monitor:$plug1
workspace = 4, monitor:$plug1
workspace = 5, monitor:$plug1
workspace = 6, monitor:$plug2
workspace = 7, monitor:$plug2
workspace = 8, monitor:$plug2
workspace = 9, monitor:$plug2
workspace = 10, monitor:$plug2
{{- else if eq .chezmoi.hostname "hermes" }}
monitor=eDP-1, 1920x1200@60.00, 0x0, 1
{{- else }}
monitor = , preferred, auto, 1
{{- end }}

#                                    !!SYSTEM!!                                     #
# --------------------------------------------------------------------------------- #
#                                    !!SYSTEM!!                                     #

# Startup programs
exec-once = hyprctl setcursor adwaita 24
exec-once = uwsm-app dunst
exec-once = uwsm-app swww-daemon

# Default programs
$terminal = uwsm-app kitty
$fileManager = uwsm-app nemo
$menu = pgrep fuzzel && killall fuzzel || fuzzel --launch-prefix='uwsm-app --'
$screenshot = hyprshot --mode region --output-folder /home/czyrar/Pictures/Screenshots
$logoutmenu = pgrep wlogout && killall wlogout || wlogout --buttons-per-row 2 --row-spacing 5 --column-spacing 5

#                                    !!INPUT!!                                      #
# --------------------------------------------------------------------------------- #
#                                    !!INPUT!!                                      #

# READ https://wiki.hyprland.org/Configuring/Variables/#input
input {
  # Switch layout with pressing: alt + shift
  kb_layout = us,es
  kb_options = grp:alt_shift_toggle
  kb_variant = altgr-intl,winkeys
  follow_mouse = 1

  # Range is -1.0 to 1.0 | 0 means no modification to sensitivity.
  sensitivity = 0
  accel_profile = flat
  touchpad {
      natural_scroll = true
  }

  # Faster scroll
  repeat_rate = 35
  repeat_delay = 200
}

# This fixes a few bugs.
cursor {
  no_hardware_cursors = true
}

{{- if ne .chezmoi.hostname "harrow" }}
# Three fingers to switch workspace
gesture = 3, horizontal, workspace
{{- end }}

#                                    !!DESIGN!!                                     #
# --------------------------------------------------------------------------------- #
#                                    !!DESIGN!!                                     #

animations {
  enabled = false
}

general {
  # Inner and Outer gaps between windows.
  gaps_in = 2.5
  gaps_out = 5
  border_size = 1
  col.active_border = rgb(0db9d7)
  col.inactive_border = rgb(7aa2f7)

  # Set to true enable resizing windows by clicking and dragging on borders and gaps
  resize_on_border = true
  layout = master

  # READ https://wiki.hyprland.org/Configuring/Tearing/ BEFORE TURNING ON!
  allow_tearing = false
}

decoration {
  # 8px same as taskbar, change if wanted.
  rounding = 8

  # I want transparancy to not change, since we have the colored border.
  active_opacity = 1.0
  inactive_opacity = 1

  # Window Shadow
  shadow:enabled = false
  shadow:range = 8
  shadow:render_power = 5
  shadow:color = rgb(444b6a)
  blur:enabled = false
}

# Read https://wiki.hyprland.org/Configuring/Dwindle-Layout/ for more info on dwindle layout.
dwindle {
  pseudotile = true
  preserve_split = true
}

# Read https://wiki.hyprland.org/Configuring/Master-Layout/ for more info on master layout.
master {
  new_status = slave
}

# We have our own wallpapers
misc {
  force_default_wallpaper = 0
  disable_hyprland_logo = true
}

#                                    !!KEYBINDS!!                                   #
# --------------------------------------------------------------------------------- #
#                                    !!KEYBINDS!!                                   #

# Windows key / Super key is the main modifier key. (abbreviated as mod)
$mainMod = SUPER

bind = $mainMod, Return, exec, $terminal
bind = $mainMod, Q, killactive,
bind = $mainMod SHIFT, S, exec, $screenshot
bind = $mainMod, E, exec, $fileManager
bind = $mainMod SHIFT, SPACE, togglefloating
bind = $mainMod, F, fullscreen
bind = $mainMod, D, exec, $menu
bind = $mainMod, M, exec, $logoutmenu

# Moving focus
bind = $mainMod, J, movefocus, d
bind = $mainMod, L, movefocus, r
bind = $mainMod, K, movefocus, u
bind = $mainMod, H, movefocus, l

# Moving windows
binde = $mainMod SHIFT, J, resizeactive, 0 -50
binde = $mainMod SHIFT, L, resizeactive, 50 0
binde = $mainMod SHIFT, K, resizeactive, 0 50
binde = $mainMod SHIFT, H, resizeactive, -50 0

# Switch current workspaces with mainMod + [0-9]
bind = $mainMod, 1, workspace, 1
bind = $mainMod, 2, workspace, 2
bind = $mainMod, 3, workspace, 3
bind = $mainMod, 4, workspace, 4
bind = $mainMod, 5, workspace, 5
bind = $mainMod, 6, workspace, 6
bind = $mainMod, 7, workspace, 7
bind = $mainMod, 8, workspace, 8
bind = $mainMod, 9, workspace, 9
bind = $mainMod, 0, workspace, 10

# Move a focused window to a workspace with mainMod + SHIFT + [0-9]
bind = $mainMod SHIFT, 1, movetoworkspace, 1
bind = $mainMod SHIFT, 2, movetoworkspace, 2
bind = $mainMod SHIFT, 3, movetoworkspace, 3
bind = $mainMod SHIFT, 4, movetoworkspace, 4
bind = $mainMod SHIFT, 5, movetoworkspace, 5
bind = $mainMod SHIFT, 6, movetoworkspace, 6
bind = $mainMod SHIFT, 7, movetoworkspace, 7
bind = $mainMod SHIFT, 8, movetoworkspace, 8
bind = $mainMod SHIFT, 9, movetoworkspace, 9
bind = $mainMod SHIFT, 0, movetoworkspace, 10

# Move and Resize windows with mainMod + LMB/RMB and dragging, drag on edges to resize.
bindm = $mainMod, mouse:272, movewindow
bindm = $mainMod, mouse:273, resizewindow

# Multimedia keys for volume, reproduction and LCD brightness
bindel = ,XF86AudioRaiseVolume, exec, wpctl set-volume @DEFAULT_SINK@ 5%+ --limit 1
bindel = ,XF86AudioLowerVolume, exec, wpctl set-volume @DEFAULT_SINK@ 5%-
bindel = ,XF86AudioMute, exec, wpctl set-mute @DEFAULT_SINK@ toggle
bindel = ,XF86AudioMicMute, exec, wpctl set-mute @DEFAULT_SOURCE@ toggle
bindel = ,XF86AudioPlay, exec, playerctl play-pause
bindel = ,XF86AudioStop, exec, playerctl stop
bindel = ,XF86AudioPrev, exec, playerctl previous
bindel = ,XF86AudioNext, exec, playerctl next
bindel = ,XF86MonBrightnessUp, exec, brightnessctl s 10%+
bindel = ,XF86MonBrightnessDown, exec, brightnessctl s 10%-

{{- if ne .chezmoi.hostname "hermes" }}
# Save recording
bind = $mainMod, F10, exec, killall -SIGUSR1 gpu-screen-recorder && sleep 0.5 && notify-send -t 1500 -u low -- "GPU Screen Recorder" "Replay saved"
{{- end }}

#                                    !!WINDOW RULES!!                               #
# --------------------------------------------------------------------------------- #
#                                    !!WINDOW RULES!!                               #

# Open TUIs in Waybar
windowrule = float on, size 800 700, move 1108 51, match:class ^(impala|wiremix|bluetui)$
windowrule = float on, size 1600 1000, center on, match:class ^btop$

# KeePass in the upper right corner
windowrule = float on, size 800 700, move 1108 51, match:class ^org.keepassxc.KeePassXC$

# VLC and MPV should float imo
windowrule = float on, min_size 1280 720, match:class ^mpv$

# Config UIs
windowrule = float on, match:class ^(xdg-desktop-portal-gtk|xdg-desktop-portal-hyprland)$

# Fix VMD
windowrule = float on, match:class ^(Display|FLTK|Toplevel)$

# Fix Unity
windowrule = min_size 250 250, match:class ^(Unity)$, match:title ^(Project Settings)$
windowrule = min_size 250 250, match:class ^(Unity)$, match:title ^(Preferences)$
windowrule = min_size 250 250, match:class ^(Unity)$, match:title ^(UnityEditor.AddComponent.AddComponentWindow)$
windowrule = min_size 250 250, match:class ^(Unity)$, match:title ^(Package Manager)$
windowrule = min_size 250 250, match:class ^(Unity)$, match:title ^(UI Toolkit Debugger)$
windowrule = min_size 250 500, match:class ^(Unity)$, match:title ^(Font Asset Creator)$
windowrule = min_size 500 250, match:class ^(Unity)$, match:title ^(Background Tasks)$
windowrule = min_size 150 300, match:initial_title (UnityEditor.PopupWindow)
windowrule = min_size 230 200, match:initial_title (UnityEditor.AddComponent.AddComponentWindow)
windowrule = min_size 500 500, match:initial_title (UnityEngine.InputSystem.Editor.AdvancedDropdownWindow)
windowrule = min_size 230 500, match:initial_title (UnityEditor.AnnotationWindow)
windowrule = min_size 300 200, match:initial_title (UnityEditor.IMGUI.Controls.AdvancedDropdownWindow)
windowrule = move cursor, match:class ^(Unity)$, match:title ^(UnityEditor.AddComponent.AddComponentWindow)$
windowrule = move cursor, match:class ^(Unity)$, match:title ^(UnityEditor.IMGUI.Controls.AdvancedDropdownWindow)$
windowrule = move cursor, match:class ^(Unity)$, match:title ^(UnityEngine.InputSystem.Editor.AdvancedDropdownWindow)$
windowrule = move cursor, match:class ^(Unity)$, match:title ^(UnityEditor.PopupWindow)$
windowrule = move cursor, match:class ^(Unity)$, match:title ^(Preferences)$
windowrule = move cursor, match:class ^(Unity)$, match:title ^(Color)$
windowrule = move cursor, match:class ^(Unity)$, match:title ^(HDR Color)$

# Dragging XWayland
windowrule = no_focus on, match:class ^$, match:title ^$, match:xwayland 1, match:float 1, match:fullscreen 0, match:pin 0
