general {
    lock_cmd = pidof hyprlock || hyprlock # avoid starting multiple hyprlock instances.
    before_sleep_cmd = hyprlock  # lock before suspend.
}

listener {
    timeout = 300
    on-timeout = hyprlock
}

{{ if ne .chezmoi.hostname "harrow" }}
listener {
    timeout = 600
    on-timeout = systemctl suspend
}
{{ end }}
