@define-color bg     #1A1B26;
@define-color fg     #C0CAF5;
@define-color red    #F7768E;
@define-color green  #9ECE6A;
@define-color yellow #E0AF68;
@define-color blue   #7AA2F7;
@define-color purple #BB9AF7;
@define-color cyan   #7DCFFF;
@define-color gray   #414868;

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 8;
    border-color: @purple;
	text-decoration-color: @fg;
    color: @fg;
	background-color: @bg;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10%;
}

button:hover {
	background-color: @gray;
	background-size: 25%;
	outline-style: none;
}

/* #lock { */
/*     background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png")); */
/* } */

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

/* #hibernate { */
/*     background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png")); */
/* } */

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
