# ===================== OUTPUT ====================================
# Monitors
# enter `swaymsg -t get_outputs` to get your monitor details.
{{- if eq .chezmoi.hostname "harrow" }}
# output DP-1 pos 0 0 res 1920x1080@175.000Hz
# output DP-2 pos -1920 0 res 1920x1080@60.000Hz
output DP-3 pos 0 0 res 1920x1080@60.000Hz
output HDMI-A-1 pos 1920 0 res 1920x1080@60.000Hz
{{- else if eq .chezmoi.hostname "nona" }}
output eDP-1 pos 0 0 res 1920x1080@60.000Hz
{{- end }}
{{- if eq .chezmoi.hostname "harrow" }}
# Workspaces
workspace 1 output DP-1 DP-3
workspace 3 output DP-1 DP-3
workspace 5 output DP-1 DP-3
workspace 7 output DP-1 DP-3
workspace 9 output DP-1 DP-3
workspace 2 output DP-2 HDMI-A-1
workspace 4 output DP-2 HDMI-A-1
workspace 6 output DP-2 HDMI-A-1
workspace 8 output DP-2 HDMI-A-1
workspace 10 output DP-2 HDMI-A-1
# Disable V-sync for games
output DP-1 allow_tearing yes
output DP-1 max_render_time off
{{- end }}
# =================================================================

# ===================== EXEC ======================================
exec /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
exec dunst
exec swww-daemon
# Idle
exec swayidle -w \
  timeout 300 "sh $HOME/.config/gtklock/prepare_gtklock.sh; gtklock" \
  timeout 600 'swaymsg "output * power off"' resume 'swaymsg "output * power on"' \
  before-sleep "sh $HOME/.config/gtklock/prepare_gtklock.sh; gtklock"
# =================================================================

# ===================== VARIABLES =================================
# Super key
set $mod Mod4
# Apps
set $term            foot
set $file_explorer   nemo
set $menu            pgrep wlogout && killall wlogout || wlogout --buttons-per-row 2 --row-spacing 5 --column-spacing 5
set $launcher        pgrep rofi && killall rofi || rofi -modes "drun,calc,window" -show drun
set $admin           pgrep btop && killall btop || foot --app-id btop btop
set $fast_screenshot grim -g "$(slurp)" - | wl-copy
set $screenshot      grim -g "$(slurp)" - | swappy -f -
set $save_replay     killall -SIGUSR1 gpu-screen-recorder && sleep 0.5 && notify-send -t 1500 -u low -- "GPU Screen Recorder" "Replay saved"
# =================================================================

# ===================== INPUT =====================================
input type:keyboard {
  xkb_layout "us,es"
  xkb_variant "altgr-intl,winkeys"
  xkb_options "grp:alt_shift_toggle"
  repeat_rate 35
  repeat_delay 200
}

input type:pointer {
  accel_profile "flat"
  pointer_accel 0
}

input type:touchpad {
  natural_scroll enabled
}

input type:tablet_tool {
{{- if eq .chezmoi.hostname "harrow" }}
  # map_to_output DP-1
  map_to_output DP-3
{{- else if eq .chezmoi.hostname "nona" }}
  map_to_outpute eDP-1
{{- end }}
}
# =================================================================

# ===================== LOOKS =====================================
bar {
  swaybar_command waybar

  # position top
  # font "Maple Mono NF CN 8"
  #
  # colors {
  #   background #1A1B26
  #   statusline #1A1B26
  #   focused_workspace #BB9AF7 #1A1B26 #7DCFFF
  #   active_workspace #1A1B26 #1A1B26 #C0CAF5
  #   inactive_workspace #1A1B26 #1A1B26 #C0CAF5
  #   urgent_workspace #F7768E #F7768E88 #1A1B26
  # }
}
gaps inner 1px
gaps outer 0px
default_border pixel 1px
default_floating_border pixel 1px
default_orientation auto
smart_borders on
smart_gaps on
#                          brd.     bg.    text    ind.  c.brd.
client.focused          #BB9AF7 #1A1B26 #C0CAF5 #BB9AF7 #BB9AF7
client.focused_inactive #7DCFFF #1A1B26 #C0CAF5 #7DCFFF #7DCFFF
client.unfocused        #7DCFFF #1A1B26 #C0CAF5 #7DCFFF #7DCFFF
client.urgent           #F7768E #1A1B26 #C0CAF5 #F7768E #F7768E
client.placeholder      #7DCFFF #1A1B26 #C0CAF5 #7DCFFF #7DCFFF
# =================================================================

# ===================== KEYBINDS ==================================
# Apps
bindsym --no-repeat $mod+Return exec $term
bindsym --no-repeat $mod+e exec $file_explorer
bindsym --no-repeat $mod+d exec $launcher
bindsym --no-repeat $mod+m exec $menu
bindsym --no-repeat $mod+Shift+s exec $fast_screenshot
bindsym --no-repeat Print exec $screenshot
bindsym --no-repeat Control+Shift+Escape exec $admin
# Sway
bindsym --no-repeat $mod+f fullscreen
bindsym --no-repeat $mod+q kill
bindsym --no-repeat $mod+Shift+r reload
bindsym --no-repeat $mod+Shift+space floating toggle
floating_modifier $mod normal
# Movement
bindsym --no-repeat $mod+l focus right
bindsym --no-repeat $mod+k focus up
bindsym --no-repeat $mod+j focus down
bindsym --no-repeat $mod+h focus left
bindsym --no-repeat $mod+Right focus right
bindsym --no-repeat $mod+Up focus up
bindsym --no-repeat $mod+Down focus down
bindsym --no-repeat $mod+Left focus left
bindsym --no-repeat $mod+Shift+l move right
bindsym --no-repeat $mod+Shift+k move up
bindsym --no-repeat $mod+Shift+j move down
bindsym --no-repeat $mod+Shift+h move left
bindsym --no-repeat $mod+Shift+Right move right
bindsym --no-repeat $mod+Shift+Up move up
bindsym --no-repeat $mod+Shift+Down move down
bindsym --no-repeat $mod+Shift+Left move left
# Resize
mode "resize" {
  bindsym $mod+l resize grow width 10px
  bindsym $mod+k resize shrink height 10px
  bindsym $mod+j resize grow height 10px
  bindsym $mod+h resize shrink width 10px
  bindsym $mod+Right resize grow width 10px
  bindsym $mod+Up resize shrink height 10px
  bindsym $mod+Down resize grow height 10px
  bindsym $mod+Left resize shrink width 10px
  # Return to default mode
  bindsym Return mode "default"
  bindsym Escape mode "default"
}
bindsym $mod+r mode "resize"
#Workspaces
bindsym --no-repeat $mod+1 workspace number 1
bindsym --no-repeat $mod+2 workspace number 2
bindsym --no-repeat $mod+3 workspace number 3
bindsym --no-repeat $mod+4 workspace number 4
bindsym --no-repeat $mod+5 workspace number 5
bindsym --no-repeat $mod+6 workspace number 6
bindsym --no-repeat $mod+7 workspace number 7
bindsym --no-repeat $mod+8 workspace number 8
bindsym --no-repeat $mod+9 workspace number 9
bindsym --no-repeat $mod+0 workspace number 10
bindsym --no-repeat $mod+Shift+1 move container to workspace number 1
bindsym --no-repeat $mod+Shift+2 move container to workspace number 2
bindsym --no-repeat $mod+Shift+3 move container to workspace number 3
bindsym --no-repeat $mod+Shift+4 move container to workspace number 4
bindsym --no-repeat $mod+Shift+5 move container to workspace number 5
bindsym --no-repeat $mod+Shift+6 move container to workspace number 6
bindsym --no-repeat $mod+Shift+7 move container to workspace number 7
bindsym --no-repeat $mod+Shift+8 move container to workspace number 8
bindsym --no-repeat $mod+Shift+9 move container to workspace number 9
bindsym --no-repeat $mod+Shift+0 move container to workspace number 10
bindsym --no-repeat $mod+a focus parent
# Multimedia keys
bindsym --locked XF86AudioRaiseVolume exec wpctl set-volume @DEFAULT_SINK@ 5%+ --limit 1
bindsym --locked XF86AudioLowerVolume exec wpctl set-volume @DEFAULT_SINK@ 5%-
bindsym --locked XF86AudioMute exec wpctl set-mute @DEFAULT_SINK@ toggle
bindsym --locked XF86AudioMicMute exec wpctl set-mute @DEFAULT_SOURCE@ toggle
bindsym --locked XF86AudioPlay exec playerctl play-pause
bindsym --locked XF86AudioStop exec playerctl stop
bindsym --locked XF86AudioPrev exec playerctl previous
bindsym --locked XF86AudioNext exec playerctl next
bindsym --locked XF86MonBrightnessUp exec brightnessctl s 10%+
bindsym --locked XF86MonBrightnessDown exec brightnessctl s 10%-
bindsym --locked XF86Search exec $menu
{{- if ne .chezmoi.hostname "nona" }}
# Recording
bindsym --no-repeat $mod+F10 exec $save_replay
{{- end }}
# =================================================================

# ===================== WINDOW RULES ==============================
# Games -> floating, fullscreen, no idle if focused, tearing
for_window [class="steam_app.*"] inhibit_idle focus; floating enable; fullscreen enable; allow_tearing yes
# Waybar -> floating, upper right position (except btop centered)
for_window [app_id="^(impala|wiremix|bluetui)$"] floating enable; resize set 800px 700px; move position 1122px 1px
for_window [app_id="^btop$"] floating enable; resize set 1600px 1000px; move position center
# Videos (VLC is buggy) -> floating, 720p default, no idle if fullscreen
for_window [app_id="^mpv$"] inhibit_idle fullscreen; floating enable; resize set 1280px 720px
# Pickers, screen-sharing, ... -> floating, no idle
for_window [app_id="^xdg-desktop-portal-(wlr|gtk)$"] inhibit_idle open; floating enable
# KeePassXC -> floating, upper right position
for_window [app_id="^org.keepassxc.KeePassXC$"] floating enable; resize set 800px 700px; move position 1122px 1px
# VMD -> floating
for_window [app_id="^(Display|FLTK|Toplevel)$"] floating enable;
# =================================================================

include /etc/sway/config.d/*
